@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-1{
    display:flex;
}

header,.content-center{
    padding:10px;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
}


.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate ( -50% , -50% );
    background-color:black;
    z-index:999;
    padding:40px;
}

.post-list{
    padding:20px 5px;
}
.content-center .post-holder{
    padding: 10px 20px;
    margin:5px;
    border:1px solid grey;
}

.MyModal{
    display:none;
}
.MyModalActive{
    display:block !important;
    
    
}

.modal-backdrop{
    position:absolute;
    height:100vh;
    width:100vw;
    background-color:black;
    opacity:0.3;
    top: 0;
    left: 0;
    z-index:9998;
}

.modal-content{
    position:absolute;
    top:50vh;
    left:25%;
    transform:translate( -25% , -50% );
    height:50vh;
    width:50%;
    background-color:white;
    border-radius:5px;
    z-index:9999;
    color:black;
    padding:50px;
}

.close-button{
    position:absolute;
    top: -10px;
    right: -10px;
    background-color:white;
    border-radius:50px;
    border:1px solid grey;
    height:25px;
    width:25px;
    font-size:10px;
}